<h1>User <%= @user.name %></h1>

<h2 class="toggle_next_visibility_uu">Scores:</h2>  <!-- functionality disable, until more content -->
<%= render 'scores' %>

<% if user_is_logged_in(@user.id) %>
  <%= link_to 'Edit Settings', "/users/" + @user.id.to_s + '/edit', :class => "signup_button round" %>
  <%= link_to 'Delete Account', '/logout_and_delete_user?did=' + @user.id.to_s, :confirm => 'Are you sure?' %>
<% end %>

<% if user_is_tester%>
  <ul>
    <li><%= link_to '1 - info', '/pages/test_page1' %></li>
    <li><%= link_to '2 - div drag', '/pages/test_page2' %></li>
    <li><%= link_to '3 - canvas drag', '/pages/test_page3' %></li>
    <li><%= link_to '4 - simple multi touch canvas drag', '/pages/test_page4' %></li>
    <li><%= link_to '5 - Puzzle', '/pages/test_page5' %></li>
    <li><%= link_to '6 - Menu', '/pages/menu_test' %></li>
    <li><%= link_to '7 - Dragable', '/pages/dragable_test' %></li>
    <li><%= link_to '8 - Events', '/pages/events_test' %></li>
    <li><%= link_to '9 - Menu 2', '/pages/menu_test2' %></li>
    <li><%= link_to '10 - Articles', '/articles' %></li>
  </ul>
<% end %>


