<h1>User <%= @user.name %></h1>

<h2 class="toggle_next_visibility_uu">Scores:</h2>  <!-- functionality disable, until more content -->
<%= render 'scores' %>

<% if user_is_logged_in(@user.id) %>
  <%= link_to 'Edit Settings', "/users/" + @user.id.to_s + '/edit', :class => "signup_button round" %>
  <%= link_to 'Delete Account', '/logout_and_delete_user?did=' + @user.id.to_s, :confirm => 'Are you sure?' %>
<% end %>

<% if user_is_tester%>
  <ul>
    <li><%= link_to 'Open Test Page 1', '/pages/test_page1' %></li>
    <li><%= link_to 'Open Test Page 2', '/pages/test_page2' %></li>
    <!-- li>< %= link_to 'Open Test Page 3', '/pages/test_page3' %></li -->
    <li>nothing yet</li>
  </ul>
<% end %>


