<html>
  <head>
    <title><%= @title %></title>
    <!-- PRODUCTION & DEVELOPMENT -->
    <%= javascript_include_tag "menu_test2_content", :debug => Rails.env.development? %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!--
      any number of persistent stylesheets:
      < %= stylesheet_link_tag 'fullscreen', :media => 'screen' % >

      exactly ONE preferred stylesheet:
      < %= stylesheet_link_tag 'menus', :media => 'screen', :title => 'hugo1' % >

      alternate stylesheets
      - grouped, each have the same style name
      - are mutual exclusive - one of the grouped is used
      - one of these can be a preferred stylsheet

      - ONE title can be used.
      - all ss with this title will be used
      -->

    <META http-equiv="Default-Style" content="menus_2">

    <%= stylesheet_link_tag 'fullscreen', :media => 'screen' %>

    <%= stylesheet_link_tag 'menus', :media => 'screen', :title => 'standard', :rel => 'alternate stylesheet' %>
    <%= stylesheet_link_tag 'menus_alt1', :media => 'screen', :title => 'hip', :rel => 'alternate stylesheet' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
  </body>
</html>


