<html>
  <head>
    <title><%= @title %></title>
    <!-- PRODUCTION & DEVELOPMENT -->
    <%= javascript_include_tag "menu_test2_content", :debug => Rails.env.development? %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!--
      any number of persistent stylesheets:
      < %= stylesheet_link_tag 'fullscreen', :media => 'screen' % >

      exactly ONE preferred stylesheet:
      < %= stylesheet_link_tag 'menus', :media => 'screen', :title => 'hugo1' % >

      alternate stylesheets
      - grouped, each have the same style name
      - are mutual exclusive - one of the grouped is used
      - one of these can be a preferred stylsheet

      - ONE title can be used.
      - all ss with this title will be used
      -->

      <META http-equiv="Default-Style" content="standard">

      <!-- used for all set styles -->
    <%= stylesheet_link_tag 'fullscreen', :media => 'screen' %>
    <%= stylesheet_link_tag 'menus', :media => 'screen', :rel => 'stylesheet' %>
    <%= stylesheet_link_tag 'texts', :media => 'screen', :rel => 'stylesheet' %>

    <!-- user style specific -->
    <!-- standard style -->
    <%= stylesheet_link_tag 'menus_standard', :media => 'screen', :title => 'standard', :rel => 'alternate stylesheet' %>

    <!-- hip style -->
    <%= stylesheet_link_tag 'menus_hip', :media => 'screen', :title => 'hip', :rel => 'alternate stylesheet' %>

    <!-- transparent style -->
    <%= stylesheet_link_tag 'menus_transparent', :media => 'screen', :title => 'transparent', :rel => 'alternate stylesheet' %>

    <!-- semi transparent style -->
    <%= stylesheet_link_tag 'menus_semi_transparent', :media => 'screen', :title => 'semi_transparent', :rel => 'alternate stylesheet' %>

    <!-- transparent_white style -->
    <%= stylesheet_link_tag 'menus_transparent_white', :media => 'screen', :title => 'transparent_white', :rel => 'alternate stylesheet' %>

    <!-- negative style -->
    <%= stylesheet_link_tag 'menus_negative', :media => 'screen', :title => 'negative', :rel => 'alternate stylesheet' %>

    <!-- outline style -->
    <%= stylesheet_link_tag 'menus_outline', :media => 'screen', :title => 'outline', :rel => 'alternate stylesheet' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
  </body>
</html>


