<!DOCTYPE html>
<!--
Test Page, containing some basic structure plus standard includes
-->
<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag "test_page1_content" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    Request:
    <% show = true %>
    <% if show %>
      <ul>
        <% @request.each do |k,v| %>
          <li><%= "#{k}: #{v}" %></li>
        <% end %>
      </ul>
      <h2 id='mark1'> Request['env']:</h2>
      <ul>
        <% @request_env.each do |k,v| %>
          <li><%= "#{k}: #{v}" %></li>
        <% end %>
      </ul>
    <% end %>

    <!-- button id='browser-info'>Browser Info</button -->

  </body>
</html>

