<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <meta name="robots" content="all">
    <meta name="description" content="Alien Invasion. A HTML5 game, with similarities to Space Invaders.">
    <meta name="keywords" content="Space Invasion. Alien Invasion. Space Invaders. Space Invasion. Defender">
  </head>
  <body>

    <div class="container">
      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>

      <%= render 'layouts/header' %>
      <section class="round">
      <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <!-- = debug(params) if Rails.env.development? % -->
    </div>
  </body>
</html>


